.search-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-create {
    background: #68cc00;

    &:hover {
        background: #68cc00 !important;
    }
}

.exercise-container {
    margin-top: 20px;
}

.exercise-wrapper {
    margin-top: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.exercise-item {
    display: flex;
    cursor: pointer;
    gap: 16px;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
    transition: all linear 0.2s;

    &:hover {
        transform: scale(1.04);
    }
}

.exercise-classroom-item {
    gap: 16px;
    padding: 8px 0 0 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
}

.exercise-classroom-sub-item {
    display: flex;
    cursor: pointer;
    gap: 16px;
    padding: 8px;
    background-color: #f1f5f9;
    border-radius: 4px;
    transition: all linear 0.2s;

    &:hover {
        transform: scale(1.04);
    }
}
