.group-form {
    border: 1px solid #d9d9d9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
