.classroom-select {
    display: flex;
    gap: 20px;
}

.student-manage {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
}

.student-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    border-right: 1px solid #edf1f6;
}

.action-container {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.exercise-container {
    text-align: left;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
}

.exercise-item-title {
    padding: 12px 20px;
    border-bottom: 1px solid #edf1f6;
}

.exercise-item {
    display: flex;
    cursor: pointer;
    gap: 16px;
    padding: 12px 20px;
    background-color: white;
    transition: all linear 0.15s;
    &:hover {
        background-color: #ececec;
    }
}
