.right-container {
    border-top: 1px solid #d9d9d9;
    padding: 12px;
}

.heading-title {
    text-align: left;
}

.classroom-token {
    margin-top: 4px;
    text-align: left;
    font-weight: 600;
}

.table-user {
    margin-top: 24px;
}
