.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.left-container {
    position: sticky;
    top: 64px;
    width: 25%;
    border-radius: 6px;
    background: white;
    text-align: left;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
}

.right-container {
    width: 75%;
    border-radius: 6px;
    text-align: left;
}

.question-item {
    background: white;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
    border-radius: 10px;
}

.question-item:not(:first-child) {
    margin-top: 30px;
}
