.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .extension {
        display: flex;
        justify-content: left;
        gap: 30px;

        .extension-icon-item {
            font-size: 24px;
        }
    }
}

.extension-sub-icon-item {
    font-size: 18px;
}

.extension-sub-button-item {
    width: 100%;
    text-align: left;
}

.wrapper {
    max-width: 1092px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.page-item {
    background-color: white;
    border-radius: 6px;
    padding: 32px;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
    transition: all linear 0.2s;
    color: black;
    font-weight: 600;

    &:hover {
        transform: scale(1.06);
    }
}

.icon-item {
    font-size: 44px;
    margin-bottom: 12px;
}
