.adding-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
    text-align: left;
    // padding: 20px;
}

.heading-title {
    text-align: left;
    padding: 20px;
}

.task-item {
    border-top: 1px solid #d9d9d9;
    padding: 20px 20px 0;
}

.btn-add-question {
    padding: 20px;
}
