.container {
    max-width: 560px;
    margin: auto;
}

.wrapper {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
}

.task-info {
    margin-top: 20px;
}

.history {
    margin-top: 20px;
}

.wrapper-history {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 30px rgba(1, 44, 118, 0.08);
}
