.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.button-theme-setting {
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translateX(-50%);
}

.theme-setting-container {
    min-width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;

    span {
        font-weight: bold;
    }
}

.theme-color-wrapper {
    display: flex;
    gap: 10px;
}
.theme-color-item {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
