.wrapper {
    background-color: white;
    border-radius: 4px;
    text-align: left;
    padding: 12px;
}

.setting {
    background-color: #f1f5f9;
    padding: 8px;
    margin-top: 10px;
}

.assign {
    margin-top: 10px;
}

.description {
    margin-top: 10px;
}

.view-question-answer {
    margin-top: 10px;
}
